*,
*::before,
*::after { 
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;
  
  --gradient-border: linear-gradient(to right,#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background:  linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(to right,#C7C9CC 0%, #3D3D3D 100%);

  --ff-sora: "Sora", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --display-large: 800 7.2rem/130% var(--ff-sora);
  --display-medium: 800 4rem/130% var(--ff-sora);
  --display-small: 700 3.2rem/130% var(--ff-sora);

  --overline: 700 1.6rem/150% var(--ff-roboto-mono);

  --paragraph-large: 500 1.6rem/150% var(--ff-roboto-flex);
  --paragraph-medium: 500 1.4rem/150% var(--ff-roboto-flex);
  --paragraph-small: 500 1.2rem/150% var(--ff-roboto-flex);
  --label-medium: 700 2rem/150% var(--ff-roboto-flex);
  --label-small: 700 1.6rem/150% var(--ff-roboto-flex);
  --label-alert: 400 1.2rem/150% var(--ff-inter);

  --px-base: 3.5rem;
  --py-base: 4.4rem;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background-primary) url(../images/background-icons.png) no-repeat top / cover;
  width: 100%;
  height: 100vh;
}

@media (width >= 80em) {
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

