nav {
  display: flex;
  justify-content: center;
  margin-block: 4.4rem 4.6rem;
}

main {
  & header {
    & span[aria-label] {

      &::after {
        content: attr(aria-label);
        background: var(--gradient-content);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font: var(--overline);
      }
    }

    & h1 {
      font: var(--display-medium);
      color: var(--content-primary);
      text-transform: uppercase;
      margin-block: 0.8rem 4.2rem;
    }
  }
}
