.px-base {
  padding-inline: var(--px-base);
}

.py-base {
  padding-block: var(--py-base)
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
  padding-block: var(--py-base);
}

.number-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.4rem;
  height: 10rem;
  font: var(--number-result);
  color: var(--content-brand);
}

.hidden {
  display: none;
}

.label-large {
  font: var(--label-medium);
  color: var(--content-primary);
}

.overline {
  font: var(--overline);
  color: var(--content-secondary);
}

@media (width >= 80em) {
  .container {
    --max-width: 0;
  }
}