.px-base {
  padding-inline: var(--px-base);
}

.py-base {
  padding-block: var(--py-base)
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
  padding-block: var(--py-base);
}

.number-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number-card {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--content-brand);
  border-radius: 2.8rem;
  animation: cardDrop 2.5s ease forwards;
  animation-fill-mode: both;
}

.number-result {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.4rem;
  height: 10rem;
  font: var(--number-result);
  animation: numberAppear 2.5s ease forwards;
  animation-fill-mode: both;
}

.hidden {
  display: none;
}

.label-large {
  font: var(--label-medium);
  color: var(--content-primary);
}

.overline {
  font: var(--overline);
  color: var(--content-secondary);
}

@keyframes cardDrop {
  0% {
    opacity: 0;
    transform: scale(0.4) rotate(0deg);
  }

  20% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }

  75% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}

@keyframes numberAppear {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    color: var(--color-inverse);
  }

  100% {
    opacity: 1;
    color: var(--content-brand);
  }
}

@media (width >= 80em) {
  .container {
    --max-width: 0;
  }
}