.option-toggle {
  position: relative;


  input[type="checkbox"] {
    all: unset;
    width: 3rem;
    height: 2rem;
    padding: 0.3rem 0.3rem;
    background: var(--gradient-background);
    border-radius: 1.6rem;
  }

  .checkbox-circle {
    position: absolute;
    inset: 0;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--content-primary);
    border-radius: 50%;
  }
}