.toggle-group {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .option-toggle {
    position: relative;
    width: 3rem;
    height: 2rem;
    padding: 0.3rem 0.3rem;
    background: var(--content-tertiary);
    border-radius: 1.6rem;

    & input[type="checkbox"] {
      all: unset;
      position: absolute;
      z-index: 2;
      inset: 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 1.4rem;
      height: 1.4rem;
      margin: 0.3rem ;
      background-color: var(--content-primary);
      border-radius: 50%;
      z-index: 1;
      transform: translateX(0); 
      transition: transform 0.1s linear;
    }

    &:has(input:checked) {
      background: var(--gradient-background);

      &::before {
        transform: translateX(1rem);
      }
    }
  }

  & label {
    font: var(--label-alert);
    color: var(--content-primary);
  }
}